credentials/*.json
*node_modules/
node_modules/
.env*
.DS_Store
veo3.json
*.db
*.db-journal
media/
**/media/
**/dev.db
**/dev.db-journal
.next/
**/turbopack/
out/
tokens.json
client_json
*.json
dist/
